body,h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}

@font-face {
    font-family: "crayon";
    src: url("../fonts/DK\ Crayon\ Crumble.ttf") format("truetype");
   }
@font-face {
    font-family: "cake";
    src: url("../fonts/cinnamon\ cake.ttf") format("truetype");
}